---
import UsuarioLayout from "@/layouts/UsuarioLayout.astro";
import Back from "@/components/icons/Back.astro";
import { getOrders } from "@/services/user";
import type { PedidosResponse } from "@/types/types";
import { formateValue } from "@/utils";
const cookies = Astro.cookies;
const userSessionCookie = cookies.get("user_sesion");
const userSessionString = userSessionCookie ? userSessionCookie.value : null;
let data = null;
let pedidos: PedidosResponse | null = null;

try {
    data = userSessionString ? JSON.parse(userSessionString) : null;
    if (data && data.id) {
        pedidos = await getOrders(data.id);
    }
} catch (error) {
    console.error("Error parsing cookie JSON:", error);
}

function priceFormated(value: number | string) {
    if (typeof value === "string") {
        return formateValue(value);
    } else {
        let valueText = value.toString();
        return formateValue(valueText);
    }
}
---

<UsuarioLayout>
    <h1 class="font-semibold mt-14 mb-10 text-lg">Mis compras</h1>
    <a
        href="/usuario/perfil"
        class="flex items-center my-2 font-semibold hover:text-gray-500"
        ><Back /> Atras</a
    >
    <div
        class="w-full flex gap-2 mb-7 p-4 flex-col font-font-cust-2 overflow-y-auto max-h-96">
        {
            pedidos && pedidos.pedidos && pedidos.pedidos.length > 0 ? (
                pedidos.pedidos.map((pedido) => (
                    <article class="flex flex-col gap-2 border p-3 bg-[#f4f4f4]">
                        <div class="flex gap-4 justify-center">
                            <ul>
                                <li class="text-center text-xs md:text-sm font-semibold">
                                    Numero de pedido
                                </li>
                                <li class="text-xs md:text-sm">
                                    # {pedido.id}
                                </li>
                            </ul>
                            <ul>
                                <li class="text-center text-xs md:text-sm  font-semibold">
                                    Pago total
                                </li>
                                <li class="text-center text-xs md:text-sm ">
                                    $ {priceFormated(pedido.pago_total)}
                                </li>
                            </ul>
                            <ul>
                                <li class="text-center  text-xs md:text-sm font-semibold">
                                    Estado del pedido
                                </li>
                                <li class="text-xs md:text-sm">
                                    {pedido.estado_pedido ||
                                        "El estado del pedido no se ha actualizado"}
                                </li>
                            </ul>
                        </div>
                        <span class="text-center font-semibold text-xs md:text-sm ">
                            Productos
                        </span>
                        <div class="flex items-center justify-center border w-full py-2 gap-2 overflow-x-auto">
                            {pedido.detalles_pedido.map((producto) => (
                                <div class="flex flex-col justify-center p-3 items-center border bg-white ">
                                    <img
                                        src={producto.Producto.image}
                                        alt={producto.Producto.nombre}
                                        class="size-20"
                                    />
                                    <ul>
                                        <li class="text-xs text-center">
                                            Cantidad:{" "}
                                            <strong>{producto.cantidad}</strong>
                                        </li>
                                        <li class="text-xs text-center text-balance ">
                                            Ref: {producto.Producto.referencia}
                                        </li>
                                        <li class="text-xs text-center text-balance ">
                                            {producto.Producto.nombre}
                                        </li>
                                    </ul>
                                </div>
                            ))}
                        </div>
                    </article>
                ))
            ) : (
                <p>No hay pedidos</p>
            )
        }
    </div>
</UsuarioLayout>
