---
interface Props {
  ref: string;
  img: string;
  titulo: string;
  texto: string;
  precio: string;
  marca: string;
  categoria: string;
}
const { ref, img, titulo, texto, precio, marca, categoria } = Astro.props;
---

<div
  class="card-producto rounded-sm flex flex-col items-center justify-center w-[10em] md:w-[16em] p-3 h-auto bg-white border hover:shadow-md duration-150"
  data-marca={marca}
  data-categoria={categoria}>
  <span
    class="text-gray-600 flex items-center justify-center text-[8px] md:text-[10px] mb-2"
    >REF:{ref}</span
  >
  <img
    src={img}
    alt="Imagen del producto"
    class="w-[7em] md:w-[10em] mx-auto"
  />
  <ul class="flex flex-col justify-center items-center">
    <li class="text-slate-900 text-sm font-semibold mt-3">{titulo}</li>
    <li class="text-xs md:text-sm my-2 leading-5">{texto}</li>
    <li class="text-sm md:text-base my-2 font-semibold">$ {precio}</li>
  </ul>
  <div class="flex justify-center w-[60%] mx-auto">
    <button
      class="bg-blue-700 border-none py-2 my-2 mx-auto text-white w-full m-auto rounded-sm hover:bg-blue-500 duration-100 text-xs md:text-base">
      Ver producto
    </button>
  </div>
</div>
