---
interface Props {
  ref: string;
  id: number;
  img: string;
  nombre: string;
  precio: string;
  marca: string;
  categoria: string;
  descuento: number | null;
}

const { id, ref, img, nombre, descuento, precio, marca, categoria } =
  Astro.props;

import { formateValue } from "@/utils/formatearValor";
import { calcularDescuento } from "@/utils/calcularDescuento";
---

<a
  href={`/detalle-producto/${id}`}
  class="card-producto rounded-sm flex flex-col justify-between w-[10em] md:w-[16em] p-3 min-h-[25em] bg-white border hover:shadow-md duration-150"
  data-marca={marca}
  data-categoria={categoria}>
  <div class="flex w-full justify-between items-center mb-1">
    <span
      class={`${descuento ? "bg-red-600" : "bg-white"} py-1 px-2 md:px-4 text-xs text-white font-semibold`}>
      {descuento ? `${descuento} %` : ""}
    </span>
    <span class="text-gray-700 text-[8px] md:text-[10px] uppercase"
      >REF: {ref}</span
    >
  </div>

  <picture>
    <img
      src={img}
      alt="Imagen del producto"
      class="w-[7em] md:w-[10em] mx-auto hover:scale-105 duration-200"
      loading="lazy"
    />
  </picture>

  <div class="mt-2 flex flex-col justify-between gap-2 flex-grow">
    <ul class="flex flex-col justify-center items-center leading-3">
      <li class="text-gray-400 text-xs font-semibold mt-3 uppercase">
        {marca}
      </li>
      <li class="text-xs md:text-sm leading-5 text-center">{nombre}</li>
      {
        descuento ? (
          <>
            <li class="mt-2 line-through text-xs md:text-sm font-semibold text-red-700 opacity-[50%]">
              $ {formateValue(precio)}
            </li>
            <li class="text-sm md:text-lg my-2 font-semibold">
              $ {calcularDescuento(precio, descuento)}
            </li>
          </>
        ) : (
          <li class="text-sm md:text-lg font-semibold mt-4">
            $ {formateValue(precio)}
          </li>
        )
      }
    </ul>

    <div class="flex justify-center w-full">
      <button
        class="bg-blue-700 border-none py-2 text-[10px] max-w-[60%] mt-2 text-white rounded-sm hover:bg-blue-500 duration-100 md:text-sm w-full">
        Ver producto
      </button>
    </div>
  </div>
</a>
