---
import CardProductos from "@/components/cards/CardProductos.astro";
import Layout from "../layouts/Layout.astro";
import { getOfertas } from "@/services/productos";
import { type ApiResponse } from "@/types/types";
import MigajasOferatas from "@/components/migajas/migajasOfertas.astro";
import Spiner from "@/components/Spiner.astro";
let ofertas: ApiResponse | null = null;
try {
    ofertas = await getOfertas();
} catch (error) {
    console.error(error);
}
---

<Layout title="Ofertas">
    <section class="mx-3 px-0 md:px-10">
        <MigajasOferatas titulo="Ofertas" pagina="Ofertas" />
        <h1 class="text-lg md:text-xl font-bold uppercase">
            Grandes descuentos
        </h1>
        <h2 class="text-base md:text-lg font-bold pt-2">
            Aprovecha nuestras ofertas especiales y encuentra productos de
            calidad a precios irresistibles
        </h2>
        <p class="text-xs md:text-base pt-1">
            Aprovecha nuestras ofertas especiales y encuentra productos de
            calidad a precios unicos. nuestras ofertas te permitirán ahorrar en
            tus proyectos de renovación
        </p>
        <div
            class="flex items-center flex-wrap justify-center gap-x-8 gap-y-4 py-4 w-full">
            {
                ofertas && ofertas.productos.length > 0 ? (
                    ofertas.productos.map((producto) => (
                        <CardProductos
                            id={producto.id}
                            ref={producto.referencia}
                            img={producto.image}
                            nombre={producto.nombre}
                            descuento={producto.discount}
                            marca={producto.marca}
                            precio={producto.valor}
                            categoria={
                                producto.subcategoria?.nombre || "Sin categoría"
                            }
                        />
                    ))
                ) : (
                    <Spiner />
                )
            }
        </div>
    </section>
</Layout>
