---
import { getMostSalled } from "@/services/productos";
import CardProductos from "@/components/cards/CardProductos.astro";
import { type ApiResponse } from "@/types/types";
import Spiner from "./Spiner.astro";
let masVendidos: ApiResponse | null = null;

try {
  masVendidos = await getMostSalled();
} catch (error) {
  console.error(error);
}
---

<div class="flex flex-wrap md:flex-row justify-center gap-4">
  {
    masVendidos && masVendidos.productos.length > 0 ? (
      masVendidos.productos.map((producto) => (
        <CardProductos
          id={producto.id}
          image={producto.image}
          precio={producto.precio}
          referencia={producto.referencia}
          titulo={producto.titulo}
          descuento={producto.descuento}
          marca={producto.marca}
          categoria={producto.categoria}
        />
      ))
    ) : (
      <Spiner />
    )
  }
</div>
