---
import { getMostSalled } from "@/services/productos";
import CardProductos from "@/components/cards/CardProductos.astro";
import { type ApiResponse } from "@/types/types";

// Inicializa masVendidos como null
let masVendidos: ApiResponse | null = null;

try {
    masVendidos = await getMostSalled();
} catch (error) {
    console.error(error);
}
export const prerender = false;
---

<div class="flex flex-wrap md:flex-row justify-center gap-4">
    {
        masVendidos && masVendidos.productos.length > 0 ? (
            masVendidos.productos.map((producto) => (
                <CardProductos
                    id={producto.id}
                    ref={producto.referencia}
                    img={producto.image}
                    nombre={producto.nombre}
                    descuento={producto.discount}
                    marca={producto.marca}
                    precio={producto.valor}
                    categoria={producto.subcategoria?.nombre || "Sin categoría"}
                />
            ))
        ) : (
            <p class="text-gray-500 font-light text-center text-xl">
                Cargando...
            </p>
        )
    }
</div>
